$bottom-nav-height: 100px;

.layout-container {
  width: 100vw;
  padding-bottom: $bottom-nav-height;
  display: flex;
  flex-direction: column;
}

.layout-nav {
  height: 10vh;
  min-height: 130px;
}

.layout-head {
}

#bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $bottom-nav-height;
  background: white;
}

.layout-body {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.layout-body__container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media all and (min-width: 800px) {
  .layout-body__container {
    width: 800px;
  }
}
