.layout-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-nav {
  height: 10vh;
  min-height: 130px;
}

.layout-head {
}

.layout-body {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.layout-body__container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media all and (min-width: 800px) {
  .layout-body__container {
    width: 800px;
  }
}
