<Layout as |layout|>
  <layout.body>
    <div class="nes-container with-title">
      <p class="title">Landing page</p>
      <div class="nes-container is-rounded display-flex justify-center p-0 mb-4">
        <img src="/assets/images/landing-bg.png" alt="landing" />
      </div>

      <ul class="nes-list is-circle pl-6 mb-4" data-landing-list-container>
        <li>Good morning.</li>
        <li>Thou hast had a good night's sleep, I hope.</li>
        <li>Thou hast had a good afternoon</li>
        <li>Good night.</li>
      </ul>

      <LinkTo @route="login">
        <span class="mb-landing__start-btn nes-btn is-primary">Login</span>
      </LinkTo>
    </div>
  </layout.body>
</Layout>